.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
  padding: 20px 0;
  background-color: #f5f5f5;
}

.employee-paper {
  padding: 32px;
  border-radius: 24px;
  max-width: 450px;
  width: 100%;
  text-align: center;
}


@media (max-width: 600px) {
  .form-container {
    padding: 20px; 
  }

  .employee-paper {
    margin: 10px;
    padding: 10px; 
  }
}
