.details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.details-modal {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  width: 800px;
  max-width: 95%;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: rgb(203, 14, 14);
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.details-content {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.employee-info {
  flex: 1;
  padding: 10px;
}
.employee-info h2{
  color: #0b397dff;
}

.employee-idcard {
  flex: 1;
  display: flex;
  justify-content: center;
}
