.details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.details-modal {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  width: 800px;
  max-width: 95%;   /* ensures it fits small screens */
  max-height: 90vh; /* limit height to viewport */
  overflow-y: auto; /* scroll if content is taller than screen */
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: rgb(203, 14, 14);
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  z-index: 10; /* make sure it's above modal content */
}


.details-content {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.employee-info {
  flex: 1;
  padding: 10px;
}
.employee-info h2{
  color: #0b397dff;
}

.employee-idcard {
  flex: 1;
  display: flex;
  justify-content: center;
}
.employee-info p {
  margin: 6px 0;         /* vertical spacing between items */
  font-size: 0.95rem;     /* slightly smaller font */
  color: #333;            /* softer text color */
}

.employee-info strong {
  color: #0b397dff;       /* highlight labels in blue */
}

/* Center name and info on small screens */
@media (max-width: 600px) {
  .employee-info h2 {
    text-align: center;
  }

}
