.employee-list {
  background-color: #ffffff !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  list-style-type: none;
  padding-left: 6px;
  margin: 30px;
   border: 1px solid #ccc;
   
}
.home-container h2{
   margin: 30px;
   color: rgb(18, 18, 94);
}
.employee-line-item {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  gap: 10px;
  
}

.employee-line-item:hover {
  background-color: #f0f0f0;
}
