.id-card-container {
  text-align: center;
}

.id-card {
  width: 300px;
  max-width: 90%;
  height: 450px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  font-family: "Poppins", Arial, sans-serif;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0 auto;
}

.id-card-header {
  width: 100%;
  height: 160px;
  background: linear-gradient(135deg, #0a2d61ff, #599fe5ff);
  clip-path: ellipse(85% 100% at 50% 0%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}

.id-card-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  padding: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.id-card-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.id-card-info {
  margin-top: 20px;
  padding: 0 20px;
  text-align: center;
}

.id-card-info h2 {
  margin: 10px 0 0 0;
  font-size: 20px;
  color: #0d47a1;
}

.id-card-info h2 span {
  color: #0d47a1;
  font-weight: 600;
}

.id-card-info p {
  margin: 5px 0 10px 0;
  color: #777;
}

.id-card-details {
  text-align: left;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
}

.id-card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 28px;
  background: #0b397dff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.download-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #0d47a1;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
