.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a3d62;
  color: #fff;
  padding: 22px 30px;
  position: relative;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #74b9ff;
}

.signout-btn {
  background-color: #d63031;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.signout-btn:hover {
  background-color: #e17055;
}


.hamburger {
  display: none;
  cursor: pointer;
}


/* Responsive */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #0a3d62;
    flex-direction: column;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
    z-index: 999;
    padding: 10px 0;
    border-radius: 0 0 10px 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  }

  .nav-links.active {
    max-height: 400px; 
  }

  .nav-links a,
  .signout-btn {
    display: block;
    width: 90%; 
    margin: 3px auto; 
    padding: 12px 0; 
    text-align: center;
    font-weight: 500;
    border-radius: 8px; 
    background-color: #0f1f60; 
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  }

  .nav-links a:hover,
  .signout-btn:hover {
    background-color: #74b9ff;
    color: #0a3d62;
    transform: translateY(-2px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }

  .signout-btn {
    background-color: #d63031;
    color: #fff;
  }

  .signout-btn:hover {
    background-color: #e17055;
    color: #0a3d62;
  }
}
