.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,#1b3b5b, #2c7aba,#5887ad);
}

.signup-paper {
  width: 360px;
  padding: 2rem;
  border-radius: 16px;
  text-align: center;
  backdrop-filter: blur(10px);
}

.signup-title {
  font-weight: bold;
  color: #1976d2;
}

.signup-button {
  padding: 10px 0;
  font-weight: bold !important;
}

.login-link-text {
  margin-top: 16px;
}

.login-link {
  text-decoration: none;
  color: #1976d2;
}

.login-link:hover {
  text-decoration: underline;
}
